{% extends 'template/default.html'%}


{% block vueTemplate %}
<div class="container mx-auto py-6" id="app">
    <tool-card></tool-card>

    <div class="card lg:card-side bordered shadow-lg">
        <div class="card-body">
            <div class="main">
                <div class="form-control">
                    <label class="cursor-pointer label">
                        <span class="label-text">数字</span>
                        <input v-model="settings.includeNumbers" type="checkbox" class="toggle">
                    </label>
                </div>
                <div class="form-control">
                    <label class="cursor-pointer label">
                        <span class="label-text">小写字母</span>
                        <input v-model="settings.includeLowercaseLetters" type="checkbox" class="toggle">
                    </label>
                </div>
                <div class="form-control">
                    <label class="cursor-pointer label">
                        <span class="label-text">大写字母</span>
                        <input v-model="settings.includeUppercaseLetters" type="checkbox" class="toggle">
                    </label>
                </div>
                <div class="form-control">
                    <label class="cursor-pointer label">
                        <span class="label-text">字符不重复</span>
                        <input v-model="settings.uniqueCharacters" type="checkbox" class="toggle">
                    </label>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">特殊符号</span>
                    </label>
                    <input v-model="settings.specialCharacters" type="text" placeholder="输入需要添加的特殊符号"
                        class="input input-bordered">
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">排除字符</span>
                    </label>
                    <input v-model="settings.excludeCharacters" type="text" placeholder="输入需要排除的字符"
                        class="input input-bordered">
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">密码长度</span>
                    </label>
                    <input v-model="settings.passwordLength" type="number" placeholder="生成密码的长度"
                        class="input input-bordered">
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">生成数量</span>
                    </label>
                    <input v-model="settings.passwordQuantity" type="number" placeholder="需要生成的数量"
                        class="input input-bordered">
                </div>
            </div>
            <div class="card-actions">
                <button class="btn btn-primary btn-block" @click="generate">生成</button>
            </div>
            <div class="form-control" v-if="result">
                <label class="label">
                    <span class="label-text">结果</span>
                </label>
                <textarea v-model="result" class="textarea textarea-bordered  h-48"></textarea>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block vueScript %}

<script>
   new Vue({
    el: '#app',
    data: {
        settings: {
            includeNumbers: true,
            includeLowercaseLetters: true,
            includeUppercaseLetters: true,
            uniqueCharacters: false,
            specialCharacters: '',
            excludeCharacters: '',
            passwordLength: 16,
            passwordQuantity: 1,
        },
        result: '',
    },
    methods: {
        generate() {
            let possibleCharacters = '';
            if (this.settings.includeNumbers) {
                possibleCharacters += '0123456789';
            }
            if (this.settings.includeLowercaseLetters) {
                possibleCharacters += 'abcdefghijklmnopqrstuvwxyz';
            }
            if (this.settings.includeUppercaseLetters) {
                possibleCharacters += 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
            }
            if (this.settings.specialCharacters) {
                possibleCharacters += this.settings.specialCharacters;
            }
            if (this.settings.excludeCharacters) {
                possibleCharacters = possibleCharacters.replace(
                    new RegExp(`[${this.settings.excludeCharacters}]`, 'g'),
                    ''
                );
            }

            const uniqueCharacters = [...new Set(possibleCharacters.split(''))];
            if (this.settings.uniqueCharacters) {
                if (uniqueCharacters.length < this.settings.passwordLength) {
                    this.$message.error('可用字符不足，无法生成唯一字符的密码');
                    return;
                }
            }

            if (uniqueCharacters.length * this.settings.passwordLength < this.settings.passwordQuantity) {
                this.$message.error(`最多生成 ${Math.floor(uniqueCharacters.length * this.settings.passwordLength / this.settings.passwordLength)} 个密码`);
                return;
            }

            const generatedPasswords = [];
            while (generatedPasswords.length < this.settings.passwordQuantity) {
                let password = '';
                while (password.length < this.settings.passwordLength) {
                    const randomIndex = this.getRandomIndex(uniqueCharacters.length);
                    const selectedChar = uniqueCharacters[randomIndex];
                    if (this.settings.uniqueCharacters && password.includes(selectedChar)) {
                        continue;
                    }
                    password += selectedChar;
                }
                if (!generatedPasswords.includes(password)) {
                    generatedPasswords.push(password);
                }
            }

            this.result = generatedPasswords.join('\n');
        },
        getRandomIndex(max) {
            return Math.floor(Math.random() * max);
        }
    },
});

</script>
{% endblock %}