<!DOCTYPE html>
<html>

<head>
  <!-- 设置页面默认参数 >>>>>>>>>>>>> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>
    {% if pageDetail %}
    <$ pageDetail.pageName $> - <$ ctx.app.config.appTitle $>
    {% else %}
    <$ ctx.app.config.appTitle $>
    {% endif %}
  </title>
  <meta charset="utf-8" name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  
  <!-- <<<<<<<<<<<<< 设置页面默认参数 -->

  <!-- 加载第三方库CSS >>>>>>>>>>>>> -->
  <link href="/<$ ctx.app.config.appId $>/public/lib/vuetify/materialdesignicons.min.css" rel="stylesheet">
  <!-- <<<<<<<<<<<<< 加载第三方库CSS -->

  <!-- 加载第三方库JS >>>>>>>>>>>>> -->
  <script src="/<$ ctx.app.config.appId $>/public/lib/lodash/lodash.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/lib/dayjs/dayjs.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/lib/axios/axios.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/lib/vue/vue.min.js"></script>
  <!-- <<<<<<<<<<<<< 加载第三方库JS -->

  <link href="/<$ ctx.app.config.appId $>/public/css/daisyui.css" rel="stylesheet" type="text/css" />
  <script src="/<$ ctx.app.config.appId $>/public/js/tailwindcss.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/js/theme-change.js"></script>

  <style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    #app {
      flex: 1;
    }
  </style>
  {% block htmlHead %}
  {% endblock %}

</head>

<body>
  {% include "template/app/header.njk" %}
  
  {% block vueTemplate %}
  {% endblock %}
  


  {% include 'component/tool/toolCard.html' %}

  <!-- 加载工具脚本 >>>>>>>>>>>>> -->
  {% include 'utility/jianghuJs/prepareAppInfoV4.html' %}
  {% include 'utility/jianghuJs/prepareUserInfoV4.html' %}
  {% include 'utility/jianghuJs/jianghuAxiosV4.html' %}
  {% include 'utility/jianghuJs/htmlErrorCollectionV4.html' %}
  {% include 'utility/jianghuJs/jianghuDisplayTextV4.html' %}
  {% include 'utility/jianghuJs/uiActionV4.1.html' %}
  {% include 'common/jianghuJs/bugfixTableWheelEvent.html' %}
  {% include 'common/jianghuJs/bugfixDrawerOutsideClick.html' %}
  {% include 'common/jianghuJs/fixedTableColV4.html' %}
  <!-- <<<<<<<<<<<<< 加载工具脚本 -->
  {% include "template/app/footer.njk" %}


  {% block vueScript %}
  {% endblock %}
</body>