{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">

  <app-header></app-header>
    <v-main class="mt-5">
      <div class="jh-page-body-container px-8">
        <h1 class="mb-5">创客贴代下载</h1>
        <v-card class="pa-4 pt-0">
        <v-tabs v-model="tab">
          <v-tab>普通版</v-tab>
          <v-tab>Pro版</v-tab>
        </v-tabs>
        
        <v-tabs-items v-model="tab">
          <v-tab-item>
            <div class="d-flex mt-5">
              <v-text-field
                class="jh-v-input" dense single-line filled
                v-model="cktUrl"
                placeholder="输入分享的素材链接"
                @blur="doUiAction('getDesignInfo')"
              ></v-text-field>
              <v-btn :disabled="!cktUrl" small color="primary" @click="doUiAction('parse')">解析下载</v-btn>
            </div>
            <v-radio-group row v-model="imgSize">
              <v-radio label="原图"  value="0"></v-radio>
              <v-radio label="0.1倍图"  value="0.1"></v-radio>
              <v-radio label="0.5倍图"  value="0.5"></v-radio>
            </v-radio-group>
          
          </v-tab-item>

          <v-tab-item>
            <div class="mt-5">
              <v-text-field
                class="jh-v-input" dense single-line filled
                v-model="cktToken"
                placeholder="需要登录创客贴网站，并粘贴创客贴的token到这"
              ></v-text-field>
              <div class="text-gray-500">
                token哪里来的？怎么获取？
                <a
                  href="https://em9f0rnqze.feishu.cn/docx/doxcntr7MHUz56vVx9bm6N7wSUv?from=from_copylink">手动获取token教程！！！</a>
                后续考虑做个自动获取token，<span class="text-red-500">解析下载出错的话可以多试几遍，不要操作太快</span>
              </div>
            </div>
            <div class="mt-5">
              <div class="d-flex">
                <v-text-field
                  class="jh-v-input" dense single-line filled
                  v-model="cktUrl"
                  placeholder="输入分享的素材链接"
                  @blur="doUiAction('getDesignInfo')"
                  
                ></v-text-field>
                <v-btn :disabled="!cktToken" small color="primary" @click="doUiAction('parsePro')">解析下载</v-btn>
              </div>
              <v-row class="mt-2" no-gutters>
                <v-col cols="1">
                  <v-select v-model="imgType" class="jh-v-input" dense single-line filled :items="imgTypeList"></v-select>
                </v-col>
                <v-col cols="1">
                <v-select v-model="imgScale" class="jh-v-input" dense single-line filled :items="imgScaleList"></v-select>

                </v-col>
                <v-col cols="1">
                <v-select v-model="imgSize" class="jh-v-input" dense single-line filled :items="imgSizeList"></v-select>

                </v-col>
              </v-row>
            </div>

          </v-tab-item>
        </v-tabs-items>
        </v-card>
        <v-card v-if="imgInfo.title">
          <div class="d-flex pa-4 align-center">
            <v-img
            :alt="imgInfo.title"
            :src="imgInfo.imgUrl"
            style="max-width: 300px;"
          ></v-img>
          <div class="ml-2">
            <div class="text-h6">{{imgInfo.title}}</div>
            <div>{{imgInfo.width}}*{{imgInfo.height}}</div>
          </div>
          </div>
        </v-card>
      </div>
    </v-main>
  </v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}
{% include 'component/app-header.html' %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      cktUrl: '',
      imgInfo: {},


      imgType: '102',
      imgScale: '1',
      imgSize: '0',

      tab: 1,
      cktToken: null,
      imgTypeList: [
        { text: 'jpg', value: '101' },
        { text: 'png', value: '102' },
        { text: 'gif', value: '103' },
        { text: 'pdf', value: '201' },
      ],
      imgScaleList: [
        { text: '0.5倍', value: '0.5' },
        { text: '原图', value: '1' },
        { text: '1.5倍', value: '1.5' },
        { text: '2倍', value: '2' },
        { text: '2.5倍', value: '2.5' },
      ],
      imgSizeList: [
        { text: '原图无压缩', value: '0' },
        { text: '20MB内', value: '20480' },
        { text: '10MB内', value: '12040' },
        { text: '5MB内', value: '5120' },
        { text: '500KB内', value: '500' },
        { text: '200KB内', value: '200' },
      ],
    }),
    watch: {

    },
    async created() {
    },
    mounted() {
      this.cktToken = localStorage.getItem('cktToken')
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'getDesignInfo':
            await this.extractUUIDFromString();
            await this.getDesignInfo();
            break;
          case 'parse':
            await this.extractUUIDFromString();
            await this.parseDesignUrl();
            setTimeout(() => {
              this.download();
            }, 500);
            break;
          case 'parsePro':
            await this.packParseProData();
            await this.parseProDesignUrl();
            setTimeout(() => {
              this.download();
            }, 500);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      async extractUUIDFromString() {
        if (!this.cktUrl) {
          throw new Error('请填写cktUrl')
        };
        localStorage.setItem('cktToken', this.cktToken)
        const inputString = this.cktUrl
        const regex = /https:\/\/www\.chuangkit\.com\/sharedesign\?d=([a-f\d-]+)/; // 匹配 UUID 的正则表达式
        const match = inputString.match(regex); // 使用正则表达式匹配字符串
        if (match && match[1]) {
          this.designId = match[1]
        } else {
          window.vtoast.fail('链接不正确')
          throw new Error('链接不正确')
        }
      },
      async getDesignInfo() {
        const resultData = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'ckt',
              actionId: 'getDesignInfo',
              actionData: {
                designId: this.designId,
              }
            }
          }
        })).data.appData.resultData;

        this.imgInfo = resultData?.bean
      },
      async parseDesignUrl() {
        const resultData = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'ckt',
              actionId: 'parseDesignUrl',
              actionData: {
                designId: this.designId,
              }
            }
          }
        })).data.appData.resultData;
        this.downloadUrl = resultData?.data?.thumbUrls[0] || ''
      },
      download() {
        // 创建一个新的 <a> 元素
        var a = document.createElement('a');
        // 设置 <a> 元素的 href 属性为图片的 URL
        a.href = this.downloadUrl;
        // 设置下载的文件名，这里使用时间戳作为文件名
        a.download = '创客贴' + new Date().toISOString() + 'jpeg'
        a.target = '_blank'
        // 将 <a> 元素添加到文档中
        document.body.appendChild(a);
        // 触发 <a> 元素的点击事件，开始下载图片
        a.click();
        // 下载完成后移除 <a> 元素
        document.body.removeChild(a);
      },

      async packParseProData() {
        await this.extractUUIDFromString();

        this.proData = {
          designId: this.designId,
          cktToken: this.cktToken,
          renderType: this.imgType,
          scale: this.imgScale,
          prediction: this.imgSize,
        }
      },
      async parseProDesignUrl() {
        const resultData = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'ckt',
              actionId: 'downloadDesignUrl',
              actionData: this.proData
            }
          }
        })).data.appData.resultData;
        this.downloadUrl = resultData?.data?.thumbUrls[0] || ''
      },
    }
  })
</script>

<style scoped>
</style>{% endblock %}