<!-- toolCard.html >>>>>>>>>>>>> -->
<script type="text/html" id="tool-card">
    <div class="tool-card">
        <div class="card lg:card-side bordered shadow-lg flex-row mb-4">
            <img :src="`/<$ ctx.app.config.appId $>/upload/${toolDetail.logo}`" class="w-32 h-32 p-4">
            <div class="card-body">
                <div class="card-title flex-wrap">
                    <h2>{{toolDetail.title}}</h2>
    
                </div>
                <p>{{toolDetail.desc}}</p>
            </div>
        </div>
    </div>
</script>

<script>
    Vue.component('tool-card', {
        template: "#tool-card",
        vueComponent: 'tool-card',
        data: ()=> ({
            toolDetail: {}
        }),

        created() {
            const urlParams = new URLSearchParams(window.location.search);
            this.url = urlParams.get('url')
            this.getToolDetail()
        },
        methods: {
            async getToolDetail() {
                const rows = (await window.jianghuAxios({
                    data: {
                        appData: {
                            pageId: 'toolDetail',
                            actionId: 'getToolDetail',
                            whereLike: {
                                url: window.appInfo.pageId
                            },
                        }
                    }
                })).data.appData.resultData.rows;
                this.toolDetail = rows[0] || {}
            },
        }
    });

</script>
<style>



</style>
<!-- <<<<<<<<<<<<< toolCard.html -->