<!-- jhConfirmDialog.html >>>>>>>>>>>>> -->
<script type="text/html" id="app-header">
    <v-app-bar
    app
    clipped-left
    height="52"
    class="jh-page-header px-8"
    style="z-index: 50;"
    flat
    >
    <!-- 页面标题 -->
    <v-toolbar-title ref="toolbarTitle" class="mr-5 pl-0">
        <span class="text-h7 font-weight-bold">{{`<$ ctx.app.config.appTitle $>`}}</span>
    </v-toolbar-title>
    </v-app-bar>
</script>

<script>
    Vue.component("app-header", {
        template: "#app-header",
        vueComponent: 'app-header',
        data: () => ({

        }),
        computed: {

        },
        destroyed() {

        },
        watch: {

        },
        async created() {
        },
        methods: {

        },
    })
</script>
<!-- <<<<<<<<<<<<< jhConfirmDialog.html -->